@import '~antd/dist/antd.css';

.App {
    min-width: 1300px;
}

.App .header {
    background-color: #fff;
    border-bottom: 1px solid gainsboro;
}

.App .content {
    margin: 10px;
}

.App .footer {
    padding: 15px 50px;
    text-align: center;
    border-top: 1px solid gainsboro;
}